html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    header
      div.left
        nav Chat room avec Socket.io
      div.right
    div.container
      div.container-left
        h3 Channels
        h5 General
        h5 Gaming
        h5 Random
      div.container-right
        form(id='form')
          input#input(
            type='text'
            name='message'
            placeholder='Tapez votre message ici ...'
          )
        hr
        //- ul#messages
        //- p
        //-   span.test pseudo1
        //-   |  Exemple d'emplacement de message
        //- hr
        //- p
        //-   span.test pseudo2
        //-   |  Exemple de réponse
        //- hr
        //- p
        //-   span.test pseudo3
        //-   |  ...
        
        div.messages

    script(src="/socket.io/socket.io.js")
    script(src="/scripts/app.js")