html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    header
      div.left
        nav Chat room avec Socket.io
      div.right
    div.container
      div.container-left
        h3 Channels
        h5 General
        h5 Gaming
        h5 Random
      div.container-right
        form(id='form')
          input#input(
            type='text'
            name='message'
            placeholder='Tapez votre message ici ...'
          )
        hr
                
        div.messages

    script(src="/socket.io/socket.io.js")
    script(src="/scripts/app.js")